// Individual colors in the theme
$mint: #51B687;
$space-cadet: #201E36;
$alice-blue: #F0F4F7;
$bright-maroon: #BA274A;
$fawn: #DFA768;
$gainsboro: #DBE4E6;
$pewter-blue: #7B9CA3;

// Palettes created using the theme colors
$mint-palette: (50 : #eaf6f1,
  100 : #cbe9db,
  200 : #a8dbc3,
  300 : #85ccab,
  400 : #6bc199,
  500 : #51b687,
  600 : #4aaf7f,
  700 : #40a674,
  800 : #379e6a,
  900 : #278e57,
  A100 : #cfffe4,
  A200 : #9cffc8,
  A400 : #69ffac,
  A700 : #50ff9d,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$space-cadette-palette: (50 : #e4e4e7,
  100 : #bcbcc3,
  200 : #908f9b,
  300 : #636272,
  400 : #414054,
  500 : #201e36,
  600 : #1c1a30,
  700 : #181629,
  800 : #131222,
  900 : #0b0a16,
  A100 : #6d58ff,
  A200 : #4125ff,
  A400 : #1e00f1,
  A700 : #1b00d8,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

$fawn-palette: (50 : #fbf4ed,
  100 : #f5e5d2,
  200 : #efd3b4,
  300 : #e9c195,
  400 : #e4b47f,
  500 : #dfa768,
  600 : #db9f60,
  700 : #d79655,
  800 : #d28c4b,
  900 : #ca7c3a,
  A100 : #ffffff,
  A200 : #ffefe3,
  A400 : #ffd3b0,
  A700 : #ffc496,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$bright-maroon-palette: (50 : #f7e5e9,
  100 : #eabec9,
  200 : #dd93a5,
  300 : #cf6880,
  400 : #c44765,
  500 : #ba274a,
  600 : #b32343,
  700 : #ab1d3a,
  800 : #a31732,
  900 : #940e22,
  A100 : #ffc3cb,
  A200 : #ff909e,
  A400 : #ff5d71,
  A700 : #ff445b,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  ));
