@import '../../../styles/theme';

mat-card {
    h1 {
        font-size: 2.3rem;
        margin-top: 1rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1.5rem;
        color: $dark-grey;
    }

    mat-grid-list{
        mat-grid-tile {
            background-color: white;

            &.map-tile {
                border: solid 1.5px $light-grey;
            }

            &.letter-tile {
                border-top: solid 1.5px $light-grey;
            }

            .safe {
                background-color: $primary;
            }
            
            .unsafe {
                background-color: $warn;
            }
        }
    } 
}
